* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}
.user-card {
    width: 600px;
    margin: 0 auto;
    border: 3px solid #cccccc;
    margin-top: 60px;
    border-radius: 5px;
}
.user-circle {
    height: 70px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    border: 2px solid #cccccc;
    margin-left: 20px;
}
.user-card-header {
    background-color: #17a2b8;
    height: 40px;
    padding-top: 35px;
}
.user-card-body {
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.user-card-icon {
    height: 15px;
}
.user-card-body h1,
.user-card-body h3,
.user-card-body p {
    margin: 10px 0;
}
a {
    color: #085394;
}