*{
    font-family: monospace;
}
.container {
    width: 800px;
    height: 260px;
    margin: 0 auto;
    border: 3px solid #cccccc;
    padding: 40px;
    margin-top: 60px;
}
#background {
    background-color: #17a2b8;
    width: 800px;
    height: 50px;
    overflow: hidden;
}
#usercircle {
    width: 70px;
    border-radius: 100%;
    border: 1px solid #cccccc;
    background-color: white;
    color: black;
}
.location img{
    width: 15px;
}
p {
    font-size: 20px;
    margin: 0px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.location {
    display: flex;
    align-items: center;
    margin: 10px;
}
.location p {
    margin-left: 10px;
}
.editprofile img {
    width: 15px;
}
.editprofile {
    color: #085394;
    margin-top: 10px;
}